.catalog {
  padding: 82px 0 78px;

  @include r(440) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__text {
    margin: 0 0 37px;
    max-width: 1080px;
    line-height: 2;
  }

  &__text--mb p {
    margin: 0 0 15px;
  }

  &__author-information {
    display: none;
    max-width: 750px;

    @include r(1600) {
      max-width: 437px;
    }

    @include r(960) {
      max-width: 100%;
      order: 2;
    }

    &--active {
      display: block;
    }
  }

  &__author-img {
    margin-bottom: 30px;
  }

  &__author-title {
    margin: 0 0 7px;
    font-weight: 600;
    font-size: 24px;
  }

  &__author-date {
    font-size: 12px;
    line-height: 2.1;
    color: $dustygray;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include r(940) {
      flex-wrap: wrap;
    }
  }
}

.accordion-list {
  max-width: 800px;
  width: 100%;

  @include r(1340) {
    max-width: 437px;
  }

  @include r(960) {
    max-width: 100%;
    margin-bottom: 50px;
  }

  &__item {
    padding: 0;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__btn {
    position: relative;
    padding: 43px 0 44px;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    outline: none;
    border: none;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    transition: border-color 0.3s, color 0.3s;

    @include r(440) {
      padding: 20px 0 20px;
      font-size: 18px;
    }

    &:focus {
      color: #ececec;
    }

    &:focus::after {
      opacity: 1;
    }

    &:focus::before {
      outline: none;
      border: none;
      background: #d1a9f0;
      border: 2px solid #9d5cd0;
      background-image: url("../../images/icons/arrow-black.svg");
      background-repeat: no-repeat;
      background-position: center center;

      @include r(440) {
        background-image: url("../../images/icons/accordbot.svg");
      }
    }

    &:hover {
      color: #9d5cd0;
      border-color: #9d5cd0;
    }

    &:active {
      color: #7943a4;
      border-color: #7943a4;
    }

    &:hover::after {
      opacity: 0;
    }

    &:hover::before {
      background-color: #d1a9f0;
    }

    &:active::after {
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 50px;
      height: 50px;
      background-color: #ececec;
      border-radius: 50px;
      background-image: url("../../images/icons/arrow-black.svg");
      background-repeat: no-repeat;
      background-position: center center;
      transition: background 0.2s;

      @include r(440) {
        background-image: url("../../images/icons/accordbot.svg");
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 28%;
      height: 35px;
      background-color: #7943a4;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__inner-content {
    column-count: 3;
    padding: 25px 0;

    @include r(1024) {
      column-count: 2;
    }

    @include r(960) {
      column-count: 3;
    }

    @include r(660) {
      column-count: 1;
    }
  }

  &__inner-list {
    &:not(:last-child) {
      margin-right: 60px;

      @include r(1024) {
        margin-right: 0;
      }
    }
  }

  &__inner-list--flex {
    padding-left: 12px;
    display: flex;
    align-items: center;
  }

  &__inner-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
      border-bottom: 1px solid #9d5cd0;
    }

    &:active {
      color: #7943a4;
      border-bottom: 1px solid transparent;
    }

    &:active::after {
      background-color: transparent;
    }
  }

  &__inner-btn--active {
    position: relative;
    color: $white;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: -3px;
      left: -6px;
      right: -6px;
      bottom: -3px;
      background-color: $royalpurple;
      color: $white;
      z-index: -1;
      transition: color 0.2s, filter 0.2s;
      opacity: 1;
    }
  }

  &__inner-img {
    position: relative;
    margin-right: 36px;
    max-width: 251px;
    width: 100%;
    min-height: 165px;
    background: #b7b7b7;

    &::before {
      position: absolute;
      content: "";
      top: -12px;
      right: -12px;
      left: -12px;
      bottom: -12px;
      display: block;
      border: 2px solid #b7b7b7;
    }
  }

  &__inner-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
  }

  &__inner-descr {
    max-width: 275px;
    margin-bottom: 5px;
  }

  &__inner-content-noflex {
    display: block;
    column-count: 1;
  }
}

.inner-link {
  font-weight: 600;
  font-size: 16px;
  color: #9d5cd0;
}

.accordion-list__item.accordion--active .accordion-list__btn::before {
  background: #d1a9f0;
  border: 2px solid #9d5cd0;
  background-image: url("../../images/icons/arrow-black-top.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @include r(440) {
    background-image: url("../../images/icons/accordtop.svg");
  }
}

.accordion-list__item.accordion--active .accordion-list__btn {
  color: #7943a4;
  border-color: #7943a4;
}

.accordion-list__item.accordion--active .accordion-list__btn::after {
  opacity: 0;
}
