.project {
  padding: 82px 0 77px;

  @include r(1024) {
    padding: 123px 0 55px;
  }

  @include r(660) {
    padding: 100px 0 50px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    margin: 0 0 18px;
    max-width: 1080px;
    line-height: 2;
  }

  &__text-link {
    color: $amethyst;
    border-bottom: 1px solid transparent;
    transition: border 0.2s;

    &:focus {
      color: $white;
    }

    &:hover {
      border-bottom: 1px solid $amethyst;
    }

    &:active {
      color: $royalpurple;
      border-color: $royalpurple;
    }
  }

  &__partners-title {
    margin: 0 0 23px;
    font-weight: 600;
    font-size: 24px;
  }

  &__partners-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.project-slider {
  max-width: 1456px;
  margin: 0 auto;
  overflow: hidden;

  @include r(1560) {
    max-width: 1200px;
    padding: 0 5px;
  }

  @include r(1340) {
    max-width: 1100px;
    padding: 0 5px;
  }

  @include r(1200) {
    max-width: 850px;
    padding: 0 10px;
  }

  @include r(1024) {
    max-width: 818px;
    padding: 0 5px;
  }

  @include r(440) {
    max-width: 195px;
    padding: 0 5px;
  }

  &__slide {
    @include r(1024) {
      max-width: 384px;
      height: 128px;
    }

    @include r(440) {
      max-width: 195px;
      height: 65px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
    height: 128px;
    background: $white;
    filter: grayscale(1);
    transition: filter 0.2s;
    outline: none;
    border: 1px solid $gallery;

    @include r(440) {
      max-width: 195px;
      height: 65px;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid $royalpurple;
      opacity: 0;

      @include r(440) {
        max-width: 195px;
        height: 65px;
      }
    }

    &:focus::before {
      opacity: 1;
    }

    &__img {
      opacity: 0.3;
      object-fit: contain;
      transition: opacity 0.2s;

      @include r(440) {
        width: 104px;
        height: 25px;
      }
    }
  }
}

.project-slider img {
  @include r(440) {
    width: 104px;
  }
}

.project-slider__link:focus {
  filter: grayscale(0);
  opacity: 1;
}

.project-slider__link:hover {
  filter: grayscale(0);
  opacity: 1;
}

.project-slider__link:hover .project-slider__img {
  opacity: 1;
}

.project-slider__link:active {
  filter: grayscale(0);
  opacity: 1;
  border-color: $amethyst;
}

.tultip {
  position: relative;
  margin: 0 5px 0 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid $amethyst;
  border-radius: 50px;
  transform: translateY(-4px);

  &:focus {
    outline: 0;
    border: 1px solid $amethyst;
    background-color: $bilobaflower;
  }

  &:hover {
    background-color: $bilobaflower;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 2px;
    height: 10px;
    background-image: url("../../images/icons/i.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(297deg)
      brightness(101%) contrast(104%);
    transition: color 0.2s, filter 0.2s;
  }

  &:active {
    background-color: $amethyst;
  }

  &:active::before {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(327deg)
      brightness(96%) contrast(104%);
  }
}

.project__partners-btn {
  background-image: url("../../images/icons/arrow-min.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.project__partners-btn-prev {
  transition: opacity 0.3s;
}

.project__partners-btn-next {
  transition: opacity 0.3s;
  transform: rotate(180deg);
}

.tippy-box[data-theme~="amethyst"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: $amethyst;
}

.tippy-box[data-theme~="amethyst"] {
  padding: 7px 0;
  width: 264px;
  text-align: center;
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: $amethyst;
  color: $white;
}
