<section id="about" class="about">
  <h2 class="sr-only">Выставка картин, Прикоснитесь к прекрасному</h2>

  <h3 class="about__title title">Номера</h3>
  <p class="about__descr">Выбери свой номер</p>

  <div class="swiper about-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-slide__img" src="images/nomers/1.jpg" alt="" />
        <div class="info-block">
          <span>Люкс </span>
          <span class="info-block__size">S-40 кв.м. </span>
          <span class="info-block__users">4</span>
          <span>Море 15 мин</span>
        </div>
        <div class="btn-box">
          <a class="swiper-btn btn" href="#">забронировать</a>
          <a class="swiper-btn--bg btn" href="#">подробнее</a>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide__img" src="images/nomers/2.jpg" alt="" />
        <div class="info-block">
          <span>Люкс </span>
          <span class="info-block__size">S-40 кв.м. </span>
          <span class="info-block__users">4</span>
          <span>Море 15 мин</span>
        </div>
        <div class="btn-box">
          <a class="swiper-btn btn" href="#">забронировать</a>
          <a class="swiper-btn--bg btn" href="#">подробнее</a>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide__img" src="images/nomers/3.jpg" alt="" />
        <div class="info-block">
          <span>Люкс </span>
          <span class="info-block__size">S-40 кв.м. </span>
          <span class="info-block__users">4</span>
          <span>Море 15 мин</span>
        </div>
        <div class="btn-box">
          <a class="swiper-btn btn" href="#">забронировать</a>
          <a class="swiper-btn--bg btn" href="#">подробнее</a>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide__img" src="images/nomers/1.jpg" alt="" />
        <div class="info-block">
          <span>Люкс </span>
          <span class="info-block__size">S-40 кв.м. </span>
          <span class="info-block__users">4</span>
          <span>Море 15 мин</span>
        </div>
        <div class="btn-box">
          <a class="swiper-btn btn" href="#">забронировать</a>
          <a class="swiper-btn--bg btn" href="#">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
