<section id="gallery" class="gallery">
  <div class="container">
    <h3 class="gallery__title title">вам понравится у нас</h3>

    <div class="swiper  gallery-swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <ul class="gallery__list list-reset">
            <li class="gallery__item">
              <span>01 <span>паста бар</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>02 <span>Арома-сад</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>03 <span>Пляж</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>04 <span>Территория отеля</span></span>
              <a href="#">подробнее</a>
            </li>
          </ul>
          <img class="gallery__item-img" src="images/gallery-img.jpg" alt="" width="720" height="600" />
        </div>
        <div class="swiper-slide">
          <ul class="gallery__list list-reset">
            <li class="gallery__item">
              <span>05 <span>паста бар</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>06 <span>Арома-сад</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>07 <span>Пляж</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>08 <span>Территория отеля</span></span>
              <a href="#">подробнее</a>
            </li>
          </ul>
          <img class="gallery__item-img" src="images/gallery-img-1.jpg" alt="" width="720" height="600" />
        </div>
        <div class="swiper-slide">
          <ul class="gallery__list list-reset">
            <li class="gallery__item">
              <span>01 <span>паста бар</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>09 <span>Арома-сад</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>10 <span>Пляж</span></span>
              <a href="#">подробнее</a>
            </li>
            <li class="gallery__item">
              <span>11 <span>Территория отеля</span></span>
              <a href="#">подробнее</a>
            </li>
          </ul>
          <img class="gallery__item-img" src="images/gallery-img-2.jpg" alt="" />
        </div>

      </div>
      <div class="btn-box1">
        <div class="swiper-btn gallery-swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-btn gallery-swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
