<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__wrapper">
        <button class="burger btn-reset" type="button">
          <span class="burger__line"></span>
          <span class="sr-only">Открыть меню</span>
        </button>

        <a class="logo" href="#">
          <img class="logo__img" loading="lazy" src="images/icons/logo.svg" alt="" width="153" />
        </a>
      </div>
      <a class="logo-center" href="#">
        <img class="logo-center__img" loading="lazy" src="images/icons/logo-center.svg" alt="" />
      </a>


      <a class="header__btn btn" href="#">забронировать</a>
    </div>
  </div>
</header>
